$brand: #09ba07;

$white: #ffffff;
$black: #000000;
$grey: #9393aa;
$red: #fa0101;
$yellow: #ffff00;

// $size-factor 换算系数，对应的 designWidth 为 250
// 样式值使用 1080 设计稿的像素值，乘以此系数自动换算
$size-factor: 0.2315px;
